body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

.userInfo{
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center; 
}

#login {
  display: flex;
  justify-content: center; 
}

#button {
  width: auto;
}
.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}



li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: contents;
  }
}
